@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

.giscia-nav{
	background-color: #34495E;
}

.navbar-inverse .navbar-nav>li>a{
	color: #E2E2E2;
}

.brand-header a{
	color: #E58836;

}
.brand-header a:hover{
	color: #E58836;
}

.font-giscia{
	font-weight: bold;
  	font-size: 20px;
}

.container-giscia{
	//margin-left: 50px;
	//margin-right: 50px;
	width: 75%;
	margin: auto;
}

footer{
	background-color: #34495E;
}
footer>a{
	color: #E58836;
}
footer>a:hover{
	color: #E58836;
	text-decoration: none;
}

a{
	color: #E58836;
}
a:hover{
	color: #EA6E00;
}

.area-title{
	color: #2980B9;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}

.navbar-nav>li {
  font-weight: 600;
}

body{
	font-family: "Open Sans";
	font-color: #444;
}
.fixed{
	width: 15%;
}

.research_project>h3{
	font-size: 20px;
}