---
layout: base
title: Blog
---

    <!-- Page Content -->
    <div class="container-giscia">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blog</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-9">

                <!-- First Blog Post -->
                {% for post in paginator.posts %}
                    
                        <h3><a href="{{ post.url }}">{{ post.title }}</a><br><small class="meta"><i class="fa fa-clock-o post-date"></i> Posted on {{ post.date | date:"%B %d, %Y" }}</small></h3>        
                        <a href="{{ post.url }}">
                            <img class="img-responsive img-hover" src="{{ post.banner }}" alt="">
                        </a>
                        <p>{{ post.excerpt }}</p>
                        <a class="btn btn-default" href="{{ post.url }}">Read More <i class="fa fa-angle-right"></i></a>
                        <hr>        
                    
                {% endfor %}

            </div>
            <!--
            
            <div class="col-md-4">

                
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    
                </div>

                
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>

                
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>
        -->

        </div>
        <div class="row">
            <div class="col-md-12">
                {% if paginator.total_posts > 0 %}
              <div class="text-center">
                <ul class="pagination pagination-sm">
                  
                    {% if paginator.page == 1 %}
                      <li class="disabled"><a href="#">«</a></li>
                    {% else %}
                      {% if paginator.previous_page == 1 %}
                        <li><a href="/blog/">«</a></li>
                      {% else %}
                        <li><a href="/blog/page{{paginator.previous_page}}">«</a></li>
                      {% endif %}
                    {% endif %}

                    {% for i in (1..paginator.total_pages) %}
                      {% if paginator.page == i %}
                        {% if i == 1 %}
                          <li class="active"><a href="#">{{ i }}</a></li>
                        {% else %}
                          <li class="active"><a href="#">{{ i }}</a></li>
                        {% endif %}
                      {% else %}
                        {% if i == 1 %}
                          <li><a href="/blog/">{{ i }}</a></li>
                        {% else %}
                          <li><a href="/blog/page{{i}}">{{ i }}</a></li>
                        {% endif %}
                      {% endif %}
                    {% endfor %}

                    {% if paginator.next_page %}
                      <li><a href="/blog/page{{paginator.next_page}}">»</a></li>
                    {% else %}
                      <li class="disabled"><a href="#">»</a></li>
                    {% endif %}

                </ul>
              </div>
            {% else %}
              <h3> Under Construction (Basic information in the about page) </h3>
            {% endif %}
            </div>
        </div>


    </div>
    <!-- /.container -->
